/bin/           # Compiled binaries
/go.sum         # Optional, unless you want strict dependency versioning
/vendor/

go.sum
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
